    <!-- TopNavBar -->
    <header
      class="flex justify-between items-center w-full h-16 px-gutter max-w-container-max mx-auto bg-surface dark:bg-surface border-b border-outline-variant dark:border-outline-variant sticky top-0 z-40">
      <div class="flex items-center gap-md">
        <span class="font-title-lg text-title-lg font-bold text-primary dark:text-primary-fixed">Dashboard</span>
        <div class="relative hidden lg:block">
          <span class="material-symbols-outlined absolute left-sm top-1/2 -translate-y-1/2 text-outline">search</span>
          <input
            class="bg-surface-container-low border border-outline-variant rounded-lg pl-10 pr-md py-2 font-body-md text-body-md focus:outline-none focus:ring-1 focus:ring-primary w-64"
            placeholder="Search customers..." type="text" />
        </div>
      </div>
      <div class="flex items-center gap-md">
        <button
          class="material-symbols-outlined text-primary p-2 hover:bg-surface-container-high rounded-full transition-all">notifications</button>
        <button
          class="material-symbols-outlined text-primary p-2 hover:bg-surface-container-high rounded-full transition-all">help_outline</button>
        <div class="w-8 h-8 rounded-full bg-secondary-container overflow-hidden border border-outline-variant">
          <img alt="User profile" class="w-full h-full object-cover"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuBAiBkXALVxKF6irHozGKjWQHxmLx-IErCwXUBz9g1n43GLwDMb9YcQps1SVI1wyETUtGuLdZZ9e7Lm1b5O00VNjYhi6g7QdejfhGfq0KpDKrkwjPZOVxQkzRNFP88h0KtuFfg_qdgHQ4R4dGxkqpW1tsw3-7iXXBaAUwNGw7bK4dfSr3wLtS6sStEbPi-ax_CJcG0OOCsOS51WjlAN_2jU0Aqk_HKj3r1NZ6UPVzwOjgd8L4AUa8_BA2zvibOCzezmO47oQgHSF_g" />
        </div>
      </div>
    </header>